.icons{
    text-align: center;
    margin-right: 50px;
}


.fa-solid.fa-house.fa-5x{
    color:rgb(187, 151, 221);
}

.fa-solid.fa-heart.fa-5x{
    color:rgb(228, 56, 56);
}

.fa-brands.fa-youtube.fa-5x{
    color:rgb(193, 34, 34);
}
