body{
    background-image: url(nature.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
a:link{
    color: black;
}

a:hover{
    color: rgb(38, 4, 38);
    font-size: 1.1em;
}

a:active{
    color: red;
    font-size: 1.1em;
}

li:hover{
    background-color: rgb(246, 246, 101);
}

li:not(:hover){
    background-color:rgb(211, 211, 201);
}

h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: yellow;
}

#fruit li::marker{
    content:"✅"
}
#apple::after{
    content:"🍎"
}
#mango::after{
    content:"🥭"
}
#banana::after{
    content:"🍌"
}
#orange::after{
    content:"🍊";
}