@font-face{
    src: url(fonts/ProtestRevolution-Regular.ttf);
    font-family: ProtestRevolution-Regular;
}

h1{
    font-family: ProtestRevolution-Regular, verdana, arial;
}
pre{
    font-family: roboto, "lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}